<!DOCTYPE html>
<html>

<head>
    <title >Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <div class="header1">
            <div class="phone-no">
                <div class="logo">
                <a href="home.html"><img src="download-removebg-preview.png" alt="E:\university\FYP\Kidney\fyp2\html\Logo.png"></a></div>
                <p style="margin-top: -5px;">Image Segmentation Of Chronic Kidney Disease Using Light-weight UNET and Feature Upscaling Techniques</p>
            </div>

                <div class="menu">
				    <div style="color:#edf0f0;font-size: 26px;margin-right:39px;margin-top:15px;">
					    <a href="home.html" style="text-decoration: none"> <div class="Home">
						    Home
					    </div></a>
				    </div>

                    <div style="margin-right: 29px;" class="containers">
                        <div class="containers1">Fb</div>
                        <div class="containers2">Tw</div>
                        <div class="containers3">Ig</div>
                        <div class="containers4">Yt</div>
        
                    </div>   
                    <a href="TTS.html" style="text-decoration: none">
                        <button style="border: none;
                        border-radius: 12px;
                        color:#edf0f0; 
                        background: transparent!important;
                        border: 2px solid #edf0f0;
                        text-transform: uppercase;
                        font-size: 20px; 
                        max-width: 991.98px;
                        margin-bottom:25px;
                        background-color:#fff; 
                        font-weight: 500;
                        height: 56px; 
                        width: 125px;
                        font-family: 'Roboto Slab', serif;"
                        class="FAQ">	Get Started</button>
                    </a>    
                </div>    
            </div>    
        </div>

    <div style="margin-top:-70px;"class="blog">
        <div class="contain">
            <div class="blog-heading">
                <p>HealthCare</p>
                Challenges and Considerations in Machine Learning-Based Medical Imaging:
                Addressing Computation Costs and Image Variability in Chronic Kidney Disease Segmentation.<br>
                <a href="TTS.html" style="text-decoration: none">
                    <button style="border: none;
                    border-radius: 12px;
                    
                    float: left;
                    color:#0c5896; 
                    background: transparent!important;
                    border: 2px solid #0c5896;
                    text-transform: uppercase;
                    font-size: 20px; 
                    max-width: 991.98px;
                    margin-bottom:25px;
                    background-color:#0c5896; 
                    font-weight: 500;
                    height: 46px; 
                    width: 225px;
                    margin-top:25px;
                    margin-left:35px;
                    font-family: 'Roboto Slab', serif;"
                    class="FAQ">	Get Started</button>
                </a>  
            </div>
            
            
            <div class="image">
              <img src="img.jpg">
            </div>
        </div>             
    </div>
        



    
    <div style="margin-top:70px;margin-bottom:10px;"class="blog-content1">Why Us?</div>
   
        
        <div style="margin-top:25px;"class="blog-content2">
            Our approach of adaptive machine learning techniques for Chronic Kidney Disease Detection can help you.
            <br>
            Distinctive problems require distinctive solutions. Use AI models for segmentation. 
        </div>
        <div class="blog-content3"></div>
        
        
        <div style="width:100%;display: inline-block;overflow-x: auto;">
            <div class="block1">
                <div style="margin-left:55px;"class="logo1">
                    <a href="home.html"><img src="user.png" alt=""></a>
                </div>

                <h3 style="text-align:center;">User-friendly</h3>
                
                <div style="text-align:center;" class="l">
                    Utilize our user-friendly application to try<br> 
                    the future of image segmentation.
                </div>
            </div>
          
            <div class="block2">
                <div style="margin-left:-15px;"class="logo1">
                    <a href="home.html"><img src="fast.png" alt=""></a>
                </div>
                <h3 style="text-align:center;" >Fast</h3>
                
                <div style="text-align:center;" class="l">
                    
                    Our application enables you to get  <br> efficient solutions at faster rate. 
                </div>
            </div>
          
            <div style="text-align:center;" class="block3">
                <div style="margin-left:-45px;margin-bottom:0px;"class="logo1">
                    <a href="home.html"><img src="web.png" alt=""></a>
                </div>

                <h3 style="text-align:center;margin-top:30px;">Web-based</h3>
                <div class="l">
                    Our solution delivers fast performance! <br>
                    Simply open on Google Chrome on a computer. 
                </div>
            </div>
        </div>
        
        <br>
  
        <hr>
        <div style="position: relative;" class="img1">
            <div class="texth">
                <img src="2RNx.gif" alt="2RNx.gif" >
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);margin-left:35px">
                    <h1 style="backdrop-filter: blur(35px);color:#0c5896;">
                        Launch Segmentation
                    </h1>
                    <a href="TTS.html" style="text-decoration: none">
                        <button style="border: none;
                        border-radius: 12px;
                        backdrop-filter: blur(50px);
                        float: left;
                        color:white;  
                        border: 2px solid #0c5896;
                        text-transform: uppercase;
                        font-size: 20px; 
                        max-width: 991.98px;
                        margin-bottom:25px;
                        background-color:#0c5896; 
                        font-weight: 500;
                        height: 46px; 
                        width: 225px;
                        margin-top:25px;
                        margin-left:95px;
                        font-family: 'Roboto Slab', serif;"
                        class="FAQ">START</button>
                    </a>  
                </div>    
                    

            </div>
        </div>    
 
        <hr>


        <div style="margin-top:90px;margin-bottom:10px;background-color:rgb(216, 216, 107)"class="blog-content1">GRAPHS</div>
      
        <div>    
        <div style="position: relative; margin-top:20px;float:left;margin-left:150px" class="img1">
            <div class="texth">
                <img src="SN3.jpg" alt="SN4.jpg" >
                   
                <h4 style="margin-left:45px">
                    Epochs
                </h4>    
            </div>
        </div> 

        <div style="position: relative; margin-top:20px;float:right;margin-right:150px" class="img1">
            <div class="texth">
                <img src="SN4.jpg" alt="SN3.jpg" >
                   
                <h4 style="margin-left:45px">
                    Dice Score
                </h4>    
            </div>
        </div> 
    </div>
        
        <div>    
            <div style="position: relative; margin-top:20px;float:left;margin-left:145px" class="img1">
                <div class="texth">
                    <img src="SN1.jpg" alt="SN1.jpg" >
                   
                    <h4 style="margin-left:35px">
                        Loss Graph
                    </h4>    
                </div>
            </div>  

            <div style="position: relative; margin-top:20px;float:right;margin-right:145px" class="img1">
                <div class="texth">
                    <img src="SN2.jpg" alt="SN2.jpg" >
                   
                    <h4 style="margin-left:35px">
                        Execution Time
                    </h4>    
                </div>
            </div> 
        </div>
        
        

        

    
    <div style="margin-top:89px;"class="blog-content1">About</div>

    <div style="margin-left:40px; margin-right:40px;margin-top:20px;margin-bottom:20px;"class="blog-content4"> Chronic kidney disease (CKD) refers to any long-term condition which deteriorates the
						functionality of the kidney in body waste filtration. The disease could be treated if diagnosed timely.
						Keeping this problem domain in view, the proposed approach includes the adaptive machine learning
						techniques for chronic kidney disease detection to trace the infected areas and create a base for kidney
						image analysis. Furthermore, we worked on the CT scan images of Kidney to determine the abnormality.
						However, we proposes a light-weight U-Net based architecture for the segmentation of chronic kidney disease using 
						unique feature scaling schemes as a preprocessing technique. Therefore, it can play a considerable role in a patient's
				 		health care and diagnostics.
	</div>
	
    



    <footer class="footer">
        <div class="footer-left">
            <div class="p1"> 
              
                      
                <p style="color:white; margin-top:114px;margin-left:-35px;">Image Segmentation Of Chronic 
                    Kidney Disease Using<br> Light-weight UNET and Feature Upscaling Techniques</p>
                
            </div>
            <div style="margin-top:5px;margin-left:-35px;" class="footer-left-copyrights">
                Copyright @ 2023 All rights reserved CKDS
            </div>
        </div>
        <div class="footer-right">
            <div style="margin-top:-65px;margin-left:80px" class="social-media">
                <div class="soical-media-heading">
                    Social Media
                </div>
                <div style="margin-top:5px;"class="social-media-list">
                    <div class="social-media-list-facebook">
                        Facebook
                    </div>
                    <div class="social-media-list-twitter">
                        twitter
                    </div>
                    <div class="social-media-list-instagram">
                        Instagram
                    </div>
                    <div class="social-media-list-youtube">
                        Youtube
                    </div>
                </div>
            </div>
            <div style="margin-top:-65px;" class="contact">
                <div class="contact-heading">
                    Contacts
                </div>

                <div style="margin-left:-60px; margin-top:5px;" class="contact-location">
                    <div class="contact-location-logo">
                        <img src="location_on.png" alt="location">
                    </div>
                    <div style="margin-top:5px; margin-left:5px;" class="contact-location-content">
                        xyz xyz xyz xyz   
                    </div>
                </div>
                <div style="margin-left:-55px;" class="contact-email">
                    <div class="contact-email-logo">
                        <img src="email-icon.png" alt="email-icon">
                    </div>
                    <div style="margin-top:5px;" class="contact-email-content">
                        xyzxyzxyz@hello.com
                    </div>
                </div>
                <div style="margin-left:-55px;" class="contact-phone">
                    <div class="contact-phone-logo">
                        <img src="phone-icon.png" alt="phone-icon">
                    </div>
                    <div style="margin-top:5px;"class="contact-phone-content">
                        +92 366-8888-111
                    </div>
                </div>
            </div>

        </div>
    </footer>
</body>

</html>